.movieCard {
  max-width: 340px;
  border-radius: 4px;
  box-shadow: var(--main-shadow);
  transform: scale(1);
  transition: all 250ms ease-in-out;
  position: relative;
}
.movieCard__poster {
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  vertical-align: middle;
}
span.movieCard__title {
  position: absolute;
  right: 0;
  left: 21px;
  bottom: 12px;
  color: white;
  font-size: 9px;
}
.movieCard:hover {
  transform: scale(1.04);
  transition: all 250ms ease-in-out;
  box-shadow: var(--main-shadow-hover);
}
.movieCard:hover .movieCard__container::after {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}
.movieCard__container::after {
  content: "";
  position: absolute;
  border: 4.2px solid rgba(249, 249, 249, 0.8);
  height: 97%;
  width: 98%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  z-index: 3;
}
.movieCard__watchingData {
  height: 100%;
  background: rgba(0, 0, 0, 0.612);
  position: absolute;
  width: 100%;
  opacity: 0;
  padding: 15px 15px 0 15px;
  color: white;
  transition: all 0.25s ease-in-out;
}
.movieCard__progressBar {
  background: rgba(255, 255, 255, 0.22);
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: all 0.25s ease-in-out;
}
.movieCard__colorBar {
  background: rgb(2, 231, 245);
  width: 25%;
  height: 7px;
  border-radius: 10px;
}
.movieCard:hover .movieCard__watchingData {
  opacity: 1;
  padding-bottom: 15px;
  transition: all 0.25s ease-in-out;
}
.movieCard:hover .movieCard__progressBar {
  bottom: 10px;
  margin: 0 15px;
  border-radius: 12px;
  width: calc(100% - 30px);
  transition: all 0.25s ease-in-out;
}
.movieCard__lowerPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: -36%;
}
.movieCard__timeLeft {
  font-size: 13px;
  color: #c3c3c3;
}
.movieCard__buttons svg {
  margin-right: 5px;
}
@media (min-width: 768px) {
  .movieCard__lowerPart {
    bottom: -50%;
  }
}
@media (min-width: 992px) {
  span.movieCard__title {
    font-size: 18px;
  }
  .movieCard__lowerPart {
    bottom: -25%;
  }
}
@media (min-width: 1200px) {
  .movieCard__lowerPart {
    bottom: -40%;
  }
}
@media (min-width: 1700px) {
  .movieCard__lowerPart {
    bottom: -59%;
  }
}
